/* Splashscreen */
.x-mask {
    background-color: #f5f5f5;
    opacity: 1;
}

/* Login */
.key {
    background-image: url('../icons/key.png') !important;
}
.key-go {
    background-image: url('../icons/key_go.png') !important;
}
.cancel {
    background-image: url('../icons/cancel.png') !important;
}